.navbar{background-color: rgb(206, 226, 255);
        max-width: 100%;
        min-width: 1280px;
        height: 65px;
        padding: 0%;
        position:fixed;
        margin-top: -23px;
        right: 0px;
        top: 0px;
        margin:0px;
        border-bottom: solid rgb(255, 255, 255) 1px ;
}
.navbar-brand{ font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 50px;
                    color: brown;
                    border:solid 2px brown;
                    
     height: 50%;
     position: relative;
                    left:40px;
                    top: 3px;

}
body{ background-color:rgb(205, 233, 255);}
li{ list-style: none;
    float: right;
    
}
.navbar-items{
    width: 15%;
    margin-top: 1%;
    
   
}
a:link{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    }
a:hover{
    color: brown;
}
a:link{
    color: rgb(255, 107, 107);
}
.container1{
    overflow: hidden;
    
    position: relative;
  }
  .container1 a:hover {
   
    color: black;
  }

.header { background-color: rgba(165, 42, 42, 0.589);
    border-radius: 10px;
    border: solid brown 1px ;
    margin-top: 150px ;
    width:250px;
    height: 350px;

}
.header:hover{
    background-color:rgba(165,42,42,0.8)
}
h1{
    text-align: center;
    font-family:sans-serif;
    font-size: 16px;
    
}
#title{
    text-align: center;
}
button{
    background-color: rgb(221, 90, 90) ;
    
    border: none;
    width: -webkit-fill-available;
    height: 40px;
    
}
#b{
    color: black;
    
}